# Banco de Dados - PostgreSQL
DB_HOST=localhost
DB_USER=
DB_PASSWORD=

# Banco de Dados - MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_URI=

# Autenticação (JWT)
JWT_SECRET=

# Front-End
VITE_API_URL=http://localhost:8080